src/ejercicio2.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE listapedidos SYSTEM "ejercicio2.xml">
<!DOCTYPE listapedidos [
        <!ELEMENT listapedidos (pedido*)>
        <!ELEMENT pedido (numeroserie, cantidad, peso?)>
        <!ELEMENT numeroserie (#PCDATA)>
        <!ELEMENT cantidad (#PCDATA)>
        <!ELEMENT peso (#PCDATA)>
        ]>